/*	
		Project : *********
		Author : **********
		Date : ************
		version : BootStrap4 ver 4.3.1
		*/
		*{
			padding:0;
			margin: 0;
		}

		html,body{
			width: 100%;
			height: 100%;
		}

			
		.banner-container{
			width: 100%;
			height: 100%;
			overflow: hidden;
			position: relative;
			z-index: 1;
		}


		/*    Banner CSS Start
		--------------------------------*/

		.slide.transparent-background {
			height: -webkit-fill-available!important;
			width: 100%;
			position: relative;
		}
		.transparent-background:before {
			content: "";
			background-image: url(./images/slide-gradient.png);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			background-position-y: top;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			position: absolute;
			z-index: 2;
			}

			.slide{
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
				background-position-y: top;
			}


			.thanh{
				position: absolute;
				top: 50%;
				transform: translate(-50%,-50%);
				left: 50%;
				width: 100%;
				height: 2px;
				background: #ffff;
				overflow: hidden;
			}


			.caption_article{
				height: -webkit-fill-available!important;
				background: transparent;
				position: relative;
			}

			.banner-text{
				position: absolute;
				background: transparent;
				z-index: 1;
				bottom: 0;
				left: 0;
			}


			/*phan test button*/


		  /*Glowing_checkbox
		  --------------------------------*/

		  .Glowing_checkbox{
		  	margin: 0;
		  	padding:0;
		  	display: flex;
		  	justify-content: flex-end;
		  	/* align-items: end; */
		  	/* background: #060606; */
		  	/* height: 100vh; */
		  }

		  .Glowing_checkbox ul{
		  	position: relative;
		  	margin: 0;
		  	padding: 0;
		  	display: flex;
		  }

		  .Glowing_checkbox  ul li{
		  	list-style: none;
		  	position: relative;
		  	width: 100px;
		  	text-align: center;
		  }

		  .Glowing_checkbox ul li label i,
		  .Glowing_checkbox ul li label input[type="checkbox"]{
		  	display: block;
		  	text-align: center;
		  }


		  .Glowing_checkbox ul li label input[type="checkbox"]
		  {
		  	position: absolute;
		  	opacity: 0;
		  	cursor: pointer;
		  }

		  .Glowing_checkbox ul li label .check{
		  	position: relative;
		  	display: block;
		  	width: 50px;
		  	height: 50px;
		  	background: linear-gradient(#000,#333);
		  	border-radius: 50%;
		  	margin: 10px auto 0;  
		  	display: flex;
		  	justify-content: center;
		  	align-items: center;
		  	z-index: 1;
		  }

		  .Glowing_checkbox ul li label .check:before
		  {
		  	content: '';
		  	position: absolute;
		  	width: 8px;
		  	height: 8px;
		  	border-radius: 50%;
		  	background: #1b1b1b;
		  	transition: 0.5s;
		  	z-index: 3;
		  }

		  .Glowing_checkbox ul li label .check:after{
		  	content: '';
		  	position: absolute;
		  	top: 6px;
		  	bottom: 6px;
		  	left: 6px;
		  	right: 6px;
		  	background: #222;
		  	border-radius: 50%;
		  	z-index: 2;
		  	border:2px solid #161616;
		  }

		  .Glowing_checkbox ul li label input[type="checkbox"]:checked ~ .check:before
		  {
		  	background: rgba(0,176,255,1);
		  	box-shadow: 0 0 10px rgba(0,176,255,1),
		  	0 0 15px rgba(0,176,255,1),
		  	0 0 20px rgba(0,176,255,1),
		  	0 0 25px rgba(0,176,255,1),
		  	0 0 30px rgba(0,176,255,1);
		  }



  /*End Glowing_checkbox
  --------------------------------*/